{{- $contact := .Site.Params.contact -}}
{{- $business := .Site.Params.business -}}
{{- $services := slice
  "CNC machining"
  "4-axis CNC milling"
  "CNC turning"
  "WAZER abrasive waterjet cutting"
  "MOPA fiber laser engraving"
  "PCB design"
  "3D printing"
  "Rapid prototyping"
  "Mechatronics support"
-}}
{{- $offers := slice -}}
{{- range $services -}}
  {{- $offers = $offers | append (dict "@type" "Offer" "itemOffered" (dict "@type" "Service" "name" . "areaServed" (dict "@type" "City" "name" "Seattle"))) -}}
{{- end -}}
{{- $schema := dict
  "@context" "https://schema.org"
  "@type" "LocalBusiness"
  "@id" (printf "%s/#localbusiness" ($business.url | default .Site.BaseURL))
  "name" ($business.name | default .Site.Params.header_title)
  "url" ($business.url | default .Site.BaseURL)
  "logo" ($business.logo | default (printf "%simages/fpl_square.png" .Site.BaseURL))
  "image" ($business.logo | default (printf "%simages/fpl_square.png" .Site.BaseURL))
  "description" ($business.description | default .Site.Params.description)
  "telephone" ($contact.phone | default "")
  "email" ($contact.email | default "")
  "address" (dict "@type" "PostalAddress" "addressLocality" ($business.city | default "Seattle") "addressRegion" ($business.region | default "WA") "addressCountry" ($business.country | default "US"))
  "areaServed" (slice
    (dict "@type" "City" "name" "Seattle")
    (dict "@type" "Place" "name" "Belltown")
    (dict "@type" "AdministrativeArea" "name" "Puget Sound")
  )
  "knowsAbout" $services
  "hasOfferCatalog" (dict "@type" "OfferCatalog" "name" "Manufacturing and prototyping services" "itemListElement" $offers)
-}}
<script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
